{% extends 'base.html' %}

{% block body %}
    
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article.id}}</td>
                <td>{{article.title}}</td>
                <td>
                    <!-- 중괄호퍼센트: 장고 문법 쓸거야 / url: '앱네임:url path의 name인자' -->
                    <a href="{% url 'articles:detail' id=article.id %}">detail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}